* {
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
}

ul {
  list-style-type: none;
}

p {
  margin: 0;
}

.message{
  display:block;
  width:98%;
  padding:0.5%;
}

.loading:after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  -webkit-animation: ellipsis steps(4,end) 900ms infinite;      
  animation: ellipsis steps(4,end) 900ms infinite;
  content: "\2026"; /* ascii code for the ellipsis character */
  width: 0px;
}

@keyframes ellipsis {
  to {
    width: 1.25em;    
  }
}

@-webkit-keyframes ellipsis {
  to {
    width: 1.25em;    
  }
}

.box {
  box-shadow: 0px 2px 4px rgba(0,0,0,0.4);
}

.light-box {
  box-shadow: 0px 1px 2px rgba(0,0,0,0.2);
}

.title-spacing {
  letter-spacing:-2px;
}

.plan-name-spacing {
  letter-spacing: -1px;
}

@media screen and (max-width: 30em) {
  .flex-column-s{flex-direction:column}
  .items-center-s{align-items:center}
}